<div class="row">
					<div class = "col-md-12" >
						<h1> Top viewed movies </h1>
  							<% @movies_sorted.each do |movie| %>
    						<div class="col-sm-6 col-md-3">
      							<div class="thumbnail">
        							<a href= "<%= movie_path(movie.id)%>" >
        						 		<img style= "width: 300px;height: 400px;" src="<%= movie.image_url %>" class: 'image', movie %>
      						    	</a>
      							</div>
    						</div>
 					 		<% end %>
					</div>
				</div>

				<div class="row">
					<div class = "col-md-12" >
						<h1> Top rated movies </h1>
  							<% @movies_sorted.each do |movie| %>
    						<div class="col-sm-6 col-md-3">
      							<div class="thumbnail">
        							<a href= "<%= movie_path(movie.id)%>" >
        						 		<img style = "width: 300px;height: 400px;" src="<%= movie.image_url %>" class: 'image', movie %>
      						    	</a>
      							</div>
      							
    						</div>
 					 		<% end %>
					</div>
				</div>
