<footer id="myFooter" style=" background-color: white; width: 100%;position: absolute;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="logo"><a href="<%= root_path%>"><strong> Movie Store </strong></a></h2>
            </div>
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="<%= root_path%>"><strong> Home </strong></a></li>
                </ul>
            </div>

            <div class="col-sm-4" style = "padding-top: 31px;">
               
                <button type="button" class="btn btn-default" style = "float: right">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style = "text-align: center">
        <p>© 2017 Movie Store </p>
    </div>
</footer>
