<footer id="myFooter" style=" background-color: white; margin-top: 10px; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="logo"><a href="<%= root_path%>"> Movie Store </a></h2>
            </div>
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="<%= root_path%>">Home</a></li>
                  
                    <li><%= link_to "SignOut",method: :delete%></li>
                  
                    <li><a href="<%= %>">Sign up</a></li>
               
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
               
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2017 Movie Store </p>
    </div>
</footer>
